.App {
  text-align: center;
  background-color: #bbb;
}

.App-header {
  background-color: #282c34;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.mainContent {
  background-color: #bbb;
  height: 100%;
}

.incomeCard{

  height: 200px;
  background-color: rgb(77, 212, 106);
  margin: 2%;
  padding: 20px;
  border-radius: 25px;
}

.expenseCard{

  height: 200px;
  background-color: rgb(212, 77, 77);
  margin: 2%;
  padding: 20px;
  border-radius: 25px;
}