.App {
  text-align: center;
  background-color: #bbb;
  height: 100%;
}

.App-header {
  background-color: #282c34;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.form {
    border: none;
    color: #000;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
}
.textFields {
    width: 40%;

}
.selSizer {
    width:110px;
}
.addButton {
    height: 50px;
    width: 50px;
    background-color: rgb(77, 212, 106);
    padding: 10px;
    border-radius: 15px;
    text-align: center;
    font-size: x-large
}

.mainContent {
  background-color: #bbb;
  height: 100%;
}

.leftCol {
    background-color: #bbb;
    width: 100%;
    float: left;
    height: 100%;
}

.rightCol {
    background-color: #bbb;
    width: 20%;
    float: right;
    height: 100%;
}

.stratCard {
    height: 100px;
    background-color: rgb(60, 60, 220);
    margin: 2%;
    padding: 20px;
    border-radius: 25px;
    text-align: center;
    width: 90%;
}

.incomeCard {
    height: 200px;
    background-color: rgb(77, 212, 106);
    margin: 2%;
    padding: 20px;
    border-radius: 25px;
}

.incomeClosed {
    height: 40px;
    background-color: rgb(77, 212, 106);
    margin: 2%;
    padding: 20px;
    border-radius: 25px;
}

.expenseCard{

  height: 420px;
  background-color: rgb(212, 77, 77);
  margin: 2%;
  padding: 20px;
  border-radius: 25px;
}

.expenseClosed {
    height: 70px;
    background-color: rgb(212, 77, 77);
    margin: 2%;
    padding: 20px;
    border-radius: 25px;
    font-size:20px;
    font-weight:500;
}

.incomeTotalCard {
    height: 100px;
    background-color: rgb(212, 112, 000);
    margin: 2%;
    padding: 20px;
    border-radius: 25px;
    text-align: center;
}
